@model IEnumerable<coreblog.Models.Comment>

@{
    ViewBag.Title = "Index";
}
@*view bag is an alternate way of using the database im guessing*@
<h2>Index</h2>
@*ienumerable is reffering to the to list in .db whatever really in the comments controller, it says it right there next to the models which is a class*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateReason)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPost.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateReason)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    @*yeah basically this stuff indicates that you are using razor and comingling c# and html together to present a form in
        the web browser, this all right here represents a table and the contents in that table,
        html,actionlink eddit,,,, thats basically saying that its using a html helper to go to a link that says edit and its the action view or form or item
        whatever it is i know its action for sure that has the id of whatever is in the item id*@

</table>
@*i mean the table is pretty much straight forward if you look at it but its a loop he explained it like it was set up like a spreadsheet,
    like i have ever used one of those consistently to understand it but i get the point tho, any item that hasnt been plugged in will not show up
    in the loop, or table,*@ 